<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com" type="e9a49285d726df6c5b64d1ba-text/javascript"></script> <!-- TailWindCSS CDN online -->
    <!--Você poderia inserir seu próprio CSS aqui-->
</head>
<body class="flex flex-col md:flex-row w-screen h-screen bg-[#f1eddd] gap-5">
    {% block content %}{% endblock %}
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="e9a49285d726df6c5b64d1ba-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"86bb2aa35f040985","version":"2024.3.0","token":"32308b81b316463cad441438eacbe1c6"}' crossorigin="anonymous"></script>
</body>
</html>
